.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogo {
    width: 10rem;
    max-width: 100%;
}

.navbarUser {
    width: 1rem;
}

.navbarUserCheck {
    width: 1.5rem;
}

.activeLink {
    color: darkgreen;
}